<div class="container">
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <td>Drink</td>
                <td>Number of cups</td>
                <td>Cost</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sRow of saleRows">
                <td>{{sRow.name}}</td>
                <td>{{sRow.numberOfCupsAllDays}}</td>
                <td>{{sRow.totalCostAllDays}}</td>
            </tr>
        </tbody>
    </table>
</div>