<div class="container">
    <h2 class="text-center py-5">Total Sales for Today</h2>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <td class="align-middle">Drink</td>
                <td class="align-middle">Number of cups</td>
                <td class="align-middle">Cost</td>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr *ngFor="let sRow of saleRows">
                <td class="align-middle">{{sRow.name}}</td>
                <td class="align-middle">{{sRow.numberOfCupsToday}}</td>
                <td class="align-middle">{{sRow.totalCostToday}}</td>
            </tr>
        </tbody>
    </table>
</div>