<div class="container">
    <h2 class="text-center py-5">About Us</h2>
    <div class="bg-light p-3">
        We are a tea/coffee vending machine service provider that uses automated technology to detect when vending
        machine containers need to be refilled. Whenever an order is made for tea/coffee, a request is made to our
        backend server to update the relevant database records. If the records indicate that the containers need to be
        refilled, a notification is sent to nearby workers for automatic refilling. As a result, your business will not
        need to experience the hassle of managing vending machine operations. Instead, we handle these operations
        ourselves and take the full responsibility off of your shoulders.
    </div>
</div>