<h2 class="text-center py-5">Report View</h2>
<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <td>Report</td>
            <td>View</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Sales for Today</td>
            <td><a routerLink="/total-sales-today">View</a></td>
        </tr>
        <tr>
            <td>Total Sales for All Days</td>
            <td><a routerLink="/total-sales-all-days">View</a></td>
        </tr>
        <tr>
            <td>Refill Counter</td>
            <td><a routerLink="/refill-counter">View</a></td>
        </tr>
        <tr>
            <td>Container Status</td>
            <td><a routerLink="/container-status">View</a></td>
        </tr>
    </tbody>
</table>
