<div class="container">
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <td>Report</td>
                <td>View</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total sales for today</td>
                <td><a routerLink="/total-sales/today">View</a></td>
            </tr>
            <tr>
                <td>Total sales for all days</td>
                <td><a routerLink="/total-sales/all-days">View</a></td>
            </tr>
            <tr>
                <td>Refill counter</td>
                <td><a routerLink="/refill-counter">View</a></td>
            </tr>
            <tr>
                <td>Container status</td>
                <td><a routerLink="/container-status">View</a></td>
            </tr>
        </tbody>
    </table>
</div>